.user-detail {
    width: 100%;
}

.user-detail .user-detail__title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 32px;
}

.user-detail .users-table {
    margin-top: 32px;
    border-spacing: 0;
}

.user-detail .users-table td,
.user-detail .users-table th {
    border: 0;
}

.user-detail .users-table .users-table__row:hover {
    background: #cccccc55;
    cursor: pointer;
}